@page
@model Dashboard.TrainModel
@{
    ViewData["Title"] = "Train Stats";
}
<div class="container">
    <h1 class="mb-4">Train Details</h1>

    <!-- Search Form -->
    <form method="get" id="searchForm">
        <div class="input-group mb-4">
            <input type="text" name="searchUserId" class="form-control" placeholder="Search by User ID" value="@Model.SearchUserId">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>

    <!-- Train Details -->
    @if (Model.TrainStats != null && Model.TrainStats.UserStats.Count > 0)
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Face ID</th>
                    <th>Total Faces Trained</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var detail in Model.TrainStats.UserStats)
                {
                    <tr>
                        <td>
                            <a asp-page="TrainDetails" asp-route-userId="@detail.UserId">
                                @detail.UserId
                            </a>
                        </td>
                        <td>@detail.TotalNumberOfFaceTrained</td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- Pagination -->
        <nav aria-label="Page navigation">
            <ul class="pagination">
                @for (int i = 1; i <= Math.Ceiling((double)Model.TrainStats.TotalRecords / Model.TrainStats.PageSize); i++)
                {
                    <li class="page-item @(i == Model.TrainStats.CurrentPage ? "active" : "")">
                        <a class="page-link" href="?page=@i&searchUserId=@Model.SearchUserId">@i</a>
                    </li>
                }
            </ul>
        </nav>
    }
    else
    {
        <div class="alert alert-danger">No results found.</div>
    }

    <a asp-page="./Index" class="btn btn-secondary">Back to Dashboard</a>
</div>

